<!DOCTYPE html>
<html>
<head>
	<title>
	{{page.title}}
	</title>

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Shashwat Dixit's Developer Blog" />
	{{page.keywords}}
	<meta name="author" content="Shashwat Dixit" />
	
	{{page.twitter}}
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/pages/app.css">
	{% if page.css %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ page.css }}">
	{% endif %}
	{% if page.headjs %}
	<script type="text/javascript" src="{{site.baseurl}}/{{page.headjs}}"></script>
	{% endif %}

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="col-xs-2 col-md-1" id="brand">
				<span id="name">SD</span>
			</div>
			<!-- <span class="col-xs-2 col-md-1" id="nav-toggle"><img src="{{ site.baseurl }}/image/burger3.png"></span> -->
			<div id="nav-toggle"><a href="/"><span class="col-xs-2 col-md-1 glyphicon glyphicon-home home-btn"></span></a></div>
			
		</div>
	</nav>

{{content}}

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12" id="social">
					<div id="social-container">
						<span class="social-icon">
							<a href="https://twitter.com/shashwat_124"><img src="{{ site.baseurl }}/image/twitter.svg"></a>
						</span>
						<span class="social-icon">
							<a href="https://github.com/shashwatdixit124"><img src="{{ site.baseurl }}/image/github.svg"></a>
						</span>
					</div>
				</div>
				<div class="col-xs-12" id="copyright">
					All content copyright Shashwat Dixit &copy; 2017 • All rights reserved.
				</div>
			</div>
		</div>
	</div>

{% if page.bodyjs %}
	<script type="text/javascript" src="{{site.baseurl}}/{{page.bodyjs}}"></script>
{% endif %}

</body>
</html>
